/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
/* font-family: 'Open Sans', sans-serif; */

/* Color values */
:root {
    --first: #c78c06;
    --second: #ffe6ac;
    --third: #222;
    --white: #ffffff;
}

/* CSS reset code */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Utilities */

/* End of Utilities */


/* Mobile First Styling */
/* Navbar style */
.nav_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--third);
}
.nav_list li {
    list-style-type: none;
}
.logo {
    width: 100%;
    background-color: var(--first);
}
.nav_link {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    color: var(--first);
    text-decoration: none;
}
.form {
    margin: 10px;
    padding: 5px;
    background-color: var(--white);
}
.search, .search_btn {
    display: inline-block;
    height: 40px;
}
.search {
    outline: none;
    font-size: 20px;
    width: 50vw;
    border: 0px;
    padding: 10px;
}
.btn {
    cursor: pointer;
    border: 0px;
    height: 100%;
    width: 100%;
    padding: 10px;
}

/* Desktop First Styling */
@media screen and (min-width: 760px) {
    
}