/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
/* font-family: 'Open Sans', sans-serif; */

/* CSS reset code */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Mobile First Styling */


/* Desktop First Styling */
@media screen and (min-width: 760px) {
    
}